{% extends 'base.html' %}

{% load static %}
{% block metadescription %}

             {{ products.des|truncatewords:155 }}

{% endblock %}
{% block title%}
{% if category %}
    {{products.name}}--Shoppy
    {% endif %}
{% endblock %}

{% block content %}
<div class="row my_prod_row_class">
    <div class="mx_auto">
        <p><a href="{% url 'shop:allproduct' %}">Home</a> | <a href="{{products.category.get_url}}">{{products.category}}</a>|{{products.name}}</p>
    </div>
</div>
<div class="container">
<br>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <div style="min-width:18rem">
        <p><img src="{{products.img.url}}" alt="{{products.name}}"></p>
    </div>
</div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div>
        <h1 class="my_prod_title">{{products.name}}</h1>
        <p>${{products.price}}</p>
        <p class="my_title">product Description</p>
        <p class="text-justify my_prod_text">{{products.des}}</p>
        {% if products.stock <= 0 %}
        <p class="text-justify my_prod_text"><b>Out of stock</b></p>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'cart:add_cart' products.id %}">Add to cart</a>
        {% endif %}

</div>
    </div>
   </div>
</div>
{% endblock %}
<!--     font-family: 'Roboto Mono', monospace;-->
<!---->